%p
  Adopting your drain is an important step towards protecting our watersheds. Debris like litter, oil, leaves, fertilizer and other pollutants often enter our local waterways because in many areas our storm drains are a direct path to streams and rivers. Cleaning out storm drains, and the areas around these drains can help to minimize the amount of pollutants that make it to our lakes, rivers and streams. Every drain counts!
%h2
  Step by Step guide to Adopting Your Drain
%ol
  %li
    %strong Log onto adoptyourdrain.com
    %p Use the search bar to look up your address and select a drain near you! Then finish filling out the required information, and you've officially adopted a drain!
  %li
    %strong Keep it clean!
    %p We ask our adopters to regularly clean out their drains while practicing proper safety measures. See below for more details!
  %li
    %strong Track your progress!
    %p Keep track of the materials you've collected, and how much the material weighs (if possible). Also take note of how much time you spend collecting! We would love to have our adopters report the progress they are making. When you select your drain, you should see a space for you to provide this information.
%h2
  How should I care for my drain?
%h4
  How often should drains be cleaned out?
%p
  Ideally, drains should be cleared before and after a rainfall event, but even if people can commit to clearing their drain at least twice a month would make a huge difference! Cleaning out your drain will typically take you less than 15 minutes. If you aren't able to clean your drain out twice a month, it may take a little longer to clear because debris will start to build up.
%h4
  What should the collection process look like?
%p
  Wear appropriate clothing - gloves should be worn at all times, and reflective clothing is suggested if cleaning in a high traffic area. You should also bring appropriate supplies to clean out your drain. Even with gloves, cleaning drains with your hands may be difficult, or even dangerous. We recommend coming prepared with things like a rake, broom, shovel, or even a trash grabber in addition to a bucket or bag to hold debris.
%p
  When cleaning your drain, we ask volunteers to collect only debris on the surface of the drain (PLEASE do NOT lift the grate). It is also helpful to clear any debris in the surrounding areas, as it could eventually make it into the storm drain.
%p
  PLEASE let us know if you move/can no longer care for your drain so we can find it a new owner!
%h2
  What should be done with material that's collected?
%p
  Depending on the debris collected, your items will generally be composted, recycled, or put into the trash.
%ul
  %li Leaves, twigs, grass clippings, and sediment can be composted.
  %li Glass and plastic bottles, cans, etc. should be recycled.
  %li Anything else collected should go in the trash.
  %li Note: Sediment collected in the spring will likely be heavily contaminated with salt from the winter months. Sediment collected in the spring should then be thrown out, rather than composted.

%h3
  Adopt Your Drain
%p
  To learn about the Adopt Your Drain Program, <a href="https://www.respectourwaters.org/adoptastorm-drain">click here</a>.
%h3
  Respect Our Waters
%p
  To learn about the other ways you can protect your local watersheds, <a href="https://www.respectourwaters.org/">click here</a>.
%h3
  Sweet Water
%p
  To learn about the work that Sweet Water does, <a href="https://www.swwtwater.org/">click here</a>.
%h3
  Contact Us
%p
  If you have any additional questions, feel free to contact us at: <a target="_blank" rel="noreferrer" href="mailto:respectourwaters@gmail.com">respectourwaters@gmail.com</a> or 414-382-1766.
